





header{
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: ghostwhite;
}

 
header.ic.fa-envelope{
    margin-left: 700px;
    margin-left: 700px;
    padding-right: 700px;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    padding-left: 50px;
    font-size: 20px;
}

section h3{
    color:#02f161;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

section h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    
    
}

section h4{
    color: white;
    font-size: 20px;
   text-align: center;
    font-family: sans-serif;
}

section div{
    background-color: bluevioletrgb(23, 107, 135);
}

section.sec.img{
    text-align: center;
    padding-left: 100px;
}

h1.a{
    text-align: center;
    color: #1F4172;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}


article h3{
    color: #B0926A;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    
}

aside h1{
    text-align: center;
    color: #192655;
    font-family: sans-serif;
    font-size: 30px;
    
}

aside h3{
    text-align: center;
    color: #B0926A;
    font-family: sans-serif;
    font-size: 20px;
    
}




div h1{
    text-align: center;
    color: #192655;
    font-family: sans-serif;
    font-size: 40px;

}

div h3{
    text-align: center;
    color: #B0926A;
    font-family: sans-serif;
    font-size: 20px;
}

div.frames{
    padding-left: 200px;
}

.frames.frame2{
    padding-left: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.form h1{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 1200px;

}

.form h3{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 800px;
}

.pla h1{
    font-size: 50px;
    color:black;
    font-family: sans-serif;
    padding-right: 300px;
}

.pla h3{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    padding-right: 20px;
}

.drives h1{
    font-size: 50px;
    color:black;
    font-family: sans-serif;
    padding-right: 300px;
    padding-left: 200px;
}

.drives h3{
    font-size: 20px;
    color: orange;
    font-family: sans-serif;
    padding-right: 20px;
}

.blog h1{
    font-size: 50px;
    color:darkblue;
    font-family: sans-serif;
    padding-right: 200px;
    padding-left: 300px;

}

.map h3{
    font-size: 40px;
    color:darkblue;
    font-family: sans-serif;
    padding-right: 600px;
    padding-left: 100px;

}

.blog h3{
    font-size: 20px;
    color:#2091ab;
    font-family: sans-serif;
    padding-right: 300px;
    padding-left: 300px;
}

.map iframe{
    padding-right: 200px;
    padding-left: 100px;
}

.bgm h1{
    font-size: 40px;
    color:#27292a;
    font-family: sans-serif;
    padding-right: 800px;
    padding-left: 100px;

}

.bgm h3{
    font-size: 20px;
    color:#313334;
    font-family: sans-serif;
    padding-right: 200px;
    padding-left: 100px;
}

.icon button{
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 700px;


}

.try h1{
    font-family: sans-serif;
    font-size: 30px;
    color:pink;

}

.foot h1{
    padding-left: 50px;
    font-family: sans-serif;
}

.foot h5{
    padding-right: 200px;
}


